// 侧边栏菜单宽度
$base-menu-width:260px;
$base-menu-background: #36363b;
$base-menu-min-width: 70px;

// 顶部导航栏的高度
$base-tabbar-height: 50px;

// logo 标题文字大小
$base-logo-title-fontSize: 20px;
// logo 的高度
$base-menu-logo-height: 50px;